@import "src/styles/theme";
@import "src/styles/index";
@import "src/styles/textures/textures";

#writing-panel {
  width: 50%;
  height: 100%;
  max-height: 100%;
  background-color: $primary-2-main;
  @include asfalt-light-texture(1);
  #demo-text-input {
    width: 80%;
    height: 80%;
    margin: 32px auto;
  }
}