@import "src/styles/index";
@import "src/styles/theme";

.button {
  background: none;
  outline: none;
  border: none;
  color: $primary-2-light;
  letter-spacing: 2px;
  font-size: 1.2rem;
  user-select: none;
  @include body-font;

  &:hover {
    cursor: pointer;
  }

  &.disabled {
    &:hover {
      cursor: default;
      pointer-events: none;
    }
  }
}